<% layout('/layouts/boilerplate.ejs') -%>

    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Creat a New Listing</h3>
            <br>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
                    <div class="valid-feedback">Title Looks Good</div>
                    <div class="invalid-feedback">Please Enter A Title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" type="text" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please Enter A Short Description</div>
                </div>

                <div class="mb-3 col-md-4">
                    <label for="image" class="form-label">Upload Image</label>
                    <input id="image" name="listing[image]" type="file"
                        class="form-control" required>
                </div>


                <div class="row">
                    <div class="mb-3 col-md-4" >
                        <label for="price" class="form-label">Price</label>
                        <input id="price" name="listing[price]" placeholder=" 1200,etc" 
                            class="form-control"required>
                            <div class="invalid-feedback">Price Should be  Valid </div>
                    </div>
                    <div class="mb-3 col-md-8 " >
                        <label for="location" class="form-label">Location</label>
                        <input id="location" name="listing[location]" placeholder="Enter Location" type="text"
                            class="form-control" required>
                            <div class="invalid-feedback">Location Should be Valid </div>
                    </div>
                </div>
               
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" name="listing[country]" placeholder="Enter Country" class="form-control" required>
                    <div class="invalid-feedback">Country Name Should be valid</div>
                </div>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>